body {
	padding: 20px;
}

a {
	text-decoration: none;
}
//not working
a:hover {
	text-decoration: underline;
	color: red;
}

h1 {
	border-bottom: 1px solid #000000
}

h2 {
	color: #ff0000
}

.nav {
	padding: 0;
}
