body {
	padding: 20px;
}

header img {
	width: 50%;
}


h4 {
	font-family: helvetica;
	color: #ffffff;
	padding: 0;
}

.diversity {
	width: 723px
	height:250px;
}

.diversity img {
	width: 100%;
	height: 150px;
}

ul.nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #333333;
	font-family: helvetica; 
}

.nav li {
	float: left;
	border-right: 1px solid #bbbbbb;
}

.nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111111;
}

.active {
    background-color: #FFC100;
}



